<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>United States</title>
</head>
<body id="usPage">
    <h1 id="usHeader">United States Recipies</h1>
    <button id="usfoodBtn">Find A Dish</button>

    <h2 id="usDish"></h2>
    <p id="usingrList"></p>
    <img src="" alt="foodImg" id="usfoodImg">
  
<script src="main.js"></script>   
</body>
</html>